.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  width: 330px;
  min-height: 390px;
  border: #47476b solid 2px;
}
